<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADIONSYS.Plugin.POS.POSSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ADIONSYS.ApplicationSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ADIONSYS.Application" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADIONSYS.Plugin.POS.POSSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ADIONSYS.Plugin.POS.POSSettings>
            <setting name="CreditNumber" serializeAs="String">
                <value>CD-00000001</value>
            </setting>
            <setting name="PurchaseNumber" serializeAs="String">
                <value>PC-00000001</value>
            </setting>
            <setting name="ExpenseNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="RMANumber" serializeAs="String">
                <value>RMA-0000001</value>
            </setting>
        </ADIONSYS.Plugin.POS.POSSettings>
        <ADIONSYS.ApplicationSetting>
            <setting name="DataBaseAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="Host" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Database" serializeAs="String">
                <value />
            </setting>
            <setting name="Admin_User" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Admain_Password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Location" serializeAs="String">
                <value />
            </setting>
        </ADIONSYS.ApplicationSetting>
        <ADIONSYS.Application>
            <setting name="ConnectModel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DataBaseAddress" serializeAs="String">
                <value />
            </setting>
        </ADIONSYS.Application>
    </userSettings>
    <applicationSettings>
        <ADIONSYS.Plugin.POS.POSSettings>
            <setting name="TransferNumber" serializeAs="String">
                <value>TS-00000001</value>
            </setting>
            <setting name="InvoiceNumber" serializeAs="String">
                <value>IN-00000001</value>
            </setting>
            <setting name="ReturnNumber" serializeAs="String">
                <value>RT-00000001</value>
            </setting>
        </ADIONSYS.Plugin.POS.POSSettings>
    </applicationSettings>
</configuration>